.confirmacao {
  text-align: center;
  margin-top: 100px;
   background-color: rgb(52, 74, 114)
}

.confirmacao a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: #225faf;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 5px;
}

body {
  font-family: Arial;
  background: rgb(52, 74, 114);
  text-align: center;
  padding: 60px;
}

form {
  background: rgb(91, 136, 187);
  padding: 50px;
  border-radius: 60px;
  display: inline-block;
  box-shadow: 0 0 20px #000000;
}

h2 {
  color: white;
  margin-bottom: 35px;
  font-weight: bold;
}