<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Usuário</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <script src="{{url_for('static', filename='script.js')}}" defer></script>
</head>
<body>
  <h2>Cadastro de Usuário</h2>
  <form id="formCadastro" method="POST" action="{{url_for('cadastrar')}}">
    <div>
      <label for="nome">Nome:</label><br>
      <input type="text" id="nome" name="nome" placeholder="Nome" maxlength="50" pattern="[A-Za-zÀ-ÿ\s]+" required><br>
      <span id="nome-error" style="color: red; display: none;">Nome inválido. Use apenas letras e espaços. Números não são permitidos.</span><br>
    </div>

    <div>
      <label for="cpf">CPF:</label><br>
      <input type="text" name="cpf" id="cpf" maxlength="14"  placeholder="000.000.000-00" required><br><br>
      <span id="cpf-error" style="color: red; display: none;">CPF inválido</span>
    </div>
    
    <div>
      <label for="email">Email:</label><br>
      <input type="email" name="email" required><br><br>
    </div>

    <div>
      <label for="telefone">Telefone:</label><br>
      <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000" maxlength="15" required><br>
      <span id="telefone-error" style="color: red; display: none;">Telefone inválido. Digite um número válido com DDD.</span><br>
    </div>

    <div>
      <label for="data_Nascimento">Data de Nascimento:</label><br>
      <input type="date" name="data_Nascimento" required><br><br>
    </div>

    <div>
      <label for="senha">Crie uma Senha:</label><br>
      <input type="password" id="senha" name="senha" minlength="8" maxlength="20" required>
      <span id="senha-error" style="color: red; display: none;">A senha deve ter entre 8 e 20 caracteres, incluir letras maiúsculas, minúsculas, números e caracteres especiais.</span>
      <div id="senha-forca" style="margin-top: 5px; width: 250px; background:#eee; border-radius:3px;">
        <div style="width: 0%; height: 8px; background-color: #ccc; transition: all 0.3s;"></div>
      </div>
    </div>
    <br>

    <div>
      <label for="confirma_senha">Confirme sua Senha:</label><br>
      <input type="password" id="confirma_senha" name="confirma_senha" required>
      <span id="confirma-senha-error" style="color: red; display: none;">As senhas não coincidem.</span>
    </div>
    <br>

    <div>
      <input type="checkbox" id="mostrar-senha">
      <label for="mostrar-senha">Mostrar Senhas</label>
    </div>
    <br>

    <input id="submit" type="submit" value="enviar">
    
  </form>
  <p>Já tem cadastro? Faça o <a href="/login"><strong>login</strong></a></p>
</body>
</html>